* {
  box-sizing: border-box;
}

.bg-image {
  background-image: url(../../assets/Abastos.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /*Fullviewportheight*/z-index: 1;
}

.logoStart {
  width: 5rem;
  height: 5rem;
}

.header {
  font-size: 7rem;
}

button {
  margin: 2rem auto 0 auto; 
  display: block;
  font-size: 2rem;
  border: 0.1rem white solid;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.bg-text {
  backdrop-filter: blur(80px); 
  -webkit-backdrop-filter: blur(10px);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}