html {
  font-family: sans-serif;
}

label {
  margin-right: 15px;
  line-height: 32px;
}

input {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid black;
}

.button-card,
legend {
  color: black;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 20;
  border: 0.01rem solid white;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 1.5rem;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  -ms-border-radius: 20;
  -o-border-radius: 20;
}

.button-card:hover {
  color: turquoise;
  cursor: pointer;
}